@model Kargo_Takip_Projesi.Models.Veri_Tabani.Alici_Bilgileri
@{
    ViewBag.Title = "AliciGuncelle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle","Alici",FormMethod.Post))
{
<div class="form-group">
    @Html.LabelFor(m => m.Alici_Id)
    @Html.TextBoxFor(m => m.Alici_Id, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.Alici_Ad)
    @Html.TextBoxFor(m => m.Alici_Ad, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.Alici_Soyad)
    @Html.TextBoxFor(m => m.Alici_Soyad, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.Alici_Adres)
    @Html.TextBoxFor(m => m.Alici_Adres, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.Alici_Ilce)
    @Html.TextBoxFor(m => m.Alici_Ilce, new { @class = "form-control" })
    <br />
    @Html.LabelFor(m => m.Alici_Il)
    @Html.TextBoxFor(m => m.Alici_Il, new { @class = "form-control" })
</div>
<div>
    <button class="btn btn-primary">Güncelle</button>
</div>
}
